before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libboost-dev libboost-test-dev libboost-program-options-dev libboost-system-dev libboost-filesystem-dev libevent-dev automake libtool flex bison pkg-config g++ libssl-dev ant make
  - wget http://xenia.sote.hu/ftp/mirrors/www.apache.org/thrift/0.9.3/thrift-0.9.3.tar.gz
  - tar xfz thrift-0.9.3.tar.gz
  - cd thrift-0.9.3
  - ./configure --without-python --without-ruby --without-erlang --without-go --without-nodejs
  - make
  - sudo make install
language: java
jdk: oraclejdk8